<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Stock Homepage</title>
</head>
<body>

<h1>Stock Historical Details For Long Term Investors</h1>

<h2>Login</h2>

<nav>
    <ul>
        <li><a href="findStock.html" th:href="@{/findStock}">View A Stock</a></li>
        <li><a href="stockList.html" th:href="@{/stockList}">List Of Stocks</a></li>
        <li><a href="compareStock.html" th:href="@{/compareStock}">Compare Stocks</a></li>
    </ul>
</nav>

<form action="stockList.html" th:action="@{stockList}" method="get">
    <span>Username login:</span><input type="text" name="login" value="" required="required" />
</form>

<p>
    The main stocks in this site are VelocityShares. <br />
    These stocks look at natural resources like natural gas, oil, gold, etc. <br />
    There may be some trend in the stock value based on the season! <br />
    There might also be some information about other stocks. <br />
    Good luck investing!
</p>

</body>
</html>