<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Stock Homepage</title>
</head>
<body>

<h1>Stock Historical Details For Long Term Investors</h1>

<h2>Login</h2>

<nav>
    <ul>
        <li><a href="findStock.html" th:href="@{/findStock}">View A Stock</a></li>
        <li><a href="stockList.html" th:href="@{/stockList}">List Of Stocks</a></li>
        <li><a href="compareStock.html" th:href="@{/compareStock}">Compare Stocks</a></li>
    </ul>
</nav>

</body>
</html>